name: Test action
on:
  push:
    branches: "main"
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE
      - .github/**
      - "!.github/workflows/test-action.yml"
  pull_request:
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE
      - .github/**
      - "!.github/workflows/test-action.yml"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test-action:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - if: runner.os == 'Windows'
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: canary
      - if: runner.os != 'Windows'
        uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun run build
      - uses: ./
      - run: typst --version
      - run: typst compile test.typ
