name: Test
on:
  push:
    branches: [ main ]
    paths-ignore:
      - .gitattributes
      - .gitignore
      - LICENSE
      - '**.md'
      - LICENSE
      - .github/**
      - '!.github/workflows/test.yml'
  pull_request:
    paths-ignore:
      - .gitattributes
      - .gitignore
      - LICENSE
      - '**.md'
      - .github/**
      - '!.github/workflows/test.yml'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: action-dist
          path: ./dist
  test-basic:
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: action-dist
          path: ./dist
      - uses: ./
        with:
          cache-dependency-path: test/basic/requirements.typ
      - run: typst --version
      - run: typst compile test/basic/main.typ
  test-executable-name:
    runs-on: ${{ matrix.os }}
    needs: [build, test-basic]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: action-dist
          path: ./dist
      - uses: ./
        with:
          cache-dependency-path: test/basic/requirements.typ
          executable-name: typst-latest
      - uses: ./
        with:
          typst-version: v0.13
          cache-dependency-path: test/basic/requirements.typ
          executable-name: typst-013
      - run: typst-latest --version
      - run: typst-latest compile test/basic/
      - run: typst-013 --version
      - run: typst-013 compile test/basic/main.typ
  test-zip-packages:
    runs-on: ${{ matrix.os }}
    needs: [build, test-basic]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: action-dist
          path: ./dist
      - uses: ./
        with:
          typst-version: v0.14
          zip-packages: test/zip-packages/requirements.json
          cache-local-packages: true
      - run: typst --version
      - run: typst compile test/zip-packages/main.typ
